* {
  box-sizing: border-box;
}
body {
  margin: 0;  
}
.mian-container {
  border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header,
main,
section,
footer {
  border: 2px solid blue;
  flex: 1;
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 40px 20px;
  }

header image {
margin-bottom: 30px;
margin-top: 20px;
}

header nav {
    width: 400px;
  }

header nav ul  {
padding:0;
list-style-type: none;
display: flex;
justify-content: space-between;
}
  
header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
  header nav ul li a:hover {
    color: aqua;

  }
  main {
    height: 400px;
    background-image: url(https://library.sportingnews.com/2021-08/hulk-hogan-031816-ap-ftrjpg_1qwkj9yvidmzw14z3rt3fbj4ub.jpg);
    background-size: cover;
    color:aliceblue;
   
  }
main .main-text {
  border: 3px solid green;
}
main .main-text h2 {
  text-transform: uppercase;
  ;
}